// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  line-height: 1.285;
  @media (max-width: 800px) {
    font-size: 45%;
  }
  @media (max-width: 500px) {
    font-size: 62.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: $smokey-grey;
  background-color: $off-white;
}
fieldset {
  border: 0;
}
button {
  border: 0;
}
footer {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
