@import "variables";
@import "global";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background: $white;
  border-radius: 2rem 2rem 8rem 2rem;
  padding: 3.2rem;
  @include mobile {
    width: 90%;
  }
}
.calculator-form {
  position: relative;
  padding-bottom: 3rem;
  padding-right: 6rem;
  @include mobile {
    padding-right: 0;
    padding-bottom: 2.5rem;
  }
}

.calculator {
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
  padding-right: 12rem;
  border-bottom: 1px solid $light-grey;
  @include mobile {
    padding-right: 0;
    gap: 1rem;
  }
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  &.error {
    color: $light-red;
    input {
      border-color: $light-red;
    }
  }
}

input {
  width: 14rem;
  padding: 1rem;
  outline: none;
  border: 1px solid $light-grey;
  border-radius: 0.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: $smokey-grey;
  &:focus {
    border-color: $purple;
  }
  @include mobile {
    width: 100%;
    font-size: 1.6rem;
  }
}
.error-msg {
  letter-spacing: normal;
  font-weight: 400;
  color: $light-red;
}

.submit-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  padding: 1.4rem;
  border-radius: 100%;
  background-color: $purple;
  cursor: pointer;
  img {
    fill: $purple;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: $off-black;
    img {
      fill: $off-black;
    }
  }
  @include mobile {
    width: 5rem;
    height: 5rem;
    right: 50%;
    transform: translateX(50%);
  }
}

.result {
  font-size: 5.4rem;
  font-weight: 800;
  font-style: italic;
  color: $off-black;
  span {
    color: $purple;
  }
  @include mobile {
    font-size: 4rem;
  }
}
